body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  padding: 0;
}

button {
  padding: 1rem;
  background: darkcyan;
  border-radius: .5rem;
  border: none;
  color: white;
}
button:hover{
  cursor: pointer;
}

.select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
  width: 140px;
  overflow: hidden;
  background: #fff no-repeat 90% center;
}

.select select {
  padding: 5px 8px;
  width: 100%;
  height: 3rem;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
}

#cy {
  height: 80%;
  width: 100%;
  padding: 0;
  max-width: calc(976px - 5rem);
  top: 0;
  background: lightcyan;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100%;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(976px - 5rem);
  color: white;
  width: 100%;
}

#nav-bar {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: darkcyan;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#inputContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: calc(976px - 5rem);
  width: 100%;
  height: 8rem;
  margin-top: 3rem;
  padding: 2rem;
}
